@font-face {
    font-family: Oxygen;
    src: url(../Resources/Fonts/Oxygen-Regular.ttf);
}

@font-face {
    font-family: Oxygen;
    src url(../Resources/Fonts/Oxygen-Bold.ttf);
    font-weight: bold;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Oxygen;
    margin: 0px;
    width: 100%;
    background-image: url(../Resources/back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div {
    padding: 10px;
    max-width: 100%;
}

.heading {
    width: 30%;
    min-width: 400px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;

    text-align: center;
    background-color: rgba(10, 10, 10, 0.8);
    color: white;

}

.construction {
    color: #EEEEEE;
    width: 800px;
    height: 1000px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;

    background-color: rgba(10, 10, 10, 0.8);
    padding: 20px 40px;
    text-align: center;
    font-size: 30px;
}

#footer {
    width: 100px;
    color: #EEEEEE;
    font-size: 10px;

}

.bottomOfScreen {
    position: fixed;
    bottom: 0px;
    left: -50px;
    margin-left: 50%;

}

.afterElements {
    position: static;
    margin: auto;
    text-align: center;
}
