.menubar {
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding: 10px;
    font-size: 0px;

}

.menubar .menuItem {
    color: black;
    padding: 10px 20px;
    font-size: 14px;
    user-select: none;
}

.menubar .menuItem:hover {
    background-color: white;
    color: black;
}

.menubar a:visited {
    color: black;
}
