.menubar {
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.menuItem {
    color: black;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    user-select: none;
}

.menuItem:hover {
    background-color: white;
    color: lightblue;
}

.menubar a:visited {
    color: black;
}

.nav-up {
    top: -40px;
}

.nav-down {
    top: 0px;
}
