@media only screen and (max-width: 480px) {

    .heading {
        margin: 10px 10%;
    }

    #homeBody > .heading {
        width: 100;
        margin: 0;
    }

    #homeBody {
        height: auto;
        min-height: 100%;

        max-width: 100%;
        background-image: url(../Resources/mobile.jpg) !important;
    }

    .menubar {
        width: 100%;
        height: auto;
        padding-bottom: 0;

        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .menuItem {
        font-size: 1em;
        padding: 10px;
    }

    .line {
        margin: 10px 10%;
    }

    .container {
        margin-bottom: 50px !important;
        margin: 10px 10%;
    }

    .aboutPage .container {
        text-align: center;
    }

    .aboutInfo {
        text-align: left;
        font-size: 1em;
    }

    #aboutPic {
        width: 80%;
    }

    .aboutInfo#introduction {
        position: relative;
        font-size: 1em !important;
        width: 90%;
    }

    .courses td {
        display: table-row;
        height: auto;
    }

    td .emptyLine {
        display: block;
    }


}
