@font-face {
    font-family: Oxygen;
    src: url(../Resources/Fonts/Oxygen-Regular.ttf);
}

@font-face {
    font-family: Oxygen;
    src: url(../Resources/Fonts/Oxygen-Bold.ttf);
    font-weight: bold;
}

::-webkit-scrollbar {
    display: none;
}

html {
    margin: 0;
    padding: 0;
    border: 0;

    background-attachment: fixed;
    height: 100%;
}

body {
    font-family: Oxygen;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: auto;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

::selection {
    background: black;
    color: lightblue;
}

.homePage {
    background-image: url(../Resources/full_size.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.transcriptPage {
    background-color: white;
}

div {
    padding: 10px;
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

ul,li {
   list-style:none;
   margin:0;
   padding:0;
}

table {
    margin: 10px;
    font-size: 14px;
    width: 100%;
}

td {
    width: 50%;
    vertical-align: top;
    padding: 0;
}

td .emptyLine {
    display: none;
}

.courses td > h3 {
    padding: 0.5em 0em;
    margin: 0;
}

.heading {
    border: 0px;
    padding: 75px 0px 0px 0px;
    margin: 10px 20%;

    color: black;
    font-size: 2em;
    text-align: left;
}

.homePage .heading {
    width: 100%;
    background-color: rgba(245, 245, 245, 0.8);
    padding: 50px 0px;
    margin: 0;
    text-align: center;
    font-size: 1em;
}

.line {
    height: 2px;
    margin: 10px 20%;
    padding: 0px;
    background-color: darkblue;
}

.container {
    background-color: rgb(245, 245, 245);
    margin: 10px 20%;
    min-width: 50%;
    overflow: hidden;
    position: relative;
    height: auto;
}


.container > img {
    margin: 10px;
}

.contactPage .container{
    text-align: center;
}

.contactLink {
    display: inline-block;
    width: 200px;
    margin: auto;
}

.aboutInfo {
    display: inline-block;
    margin: auto;
    vertical-align: top;
    position: absolute;
}

#introduction {
    font-size: 1.5em;
}

.contactLink a, a:before {
    color: darkblue;
}

.contactLink a:hover {
    color: lightblue;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0.75em;
  padding: 0.5rem;
  text-align: center;
  color: black;
}

.homePage .footer {
    color: white;
}
